button {
  background-color: #55c57a;
  color: #fff;
  font-size: 0.7rem;
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
  text-decoration: none;
  font-weight: 400;
  border: none;
  max-width: fit-content;
}

button:disabled {
  background-color: rgb(170, 166, 166);
}

button:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

button:active {
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn,
.btn:link,
.btn:visited {
  font-size: 1.2rem;
  padding: 1rem 2rem;
  border-radius: 10rem;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-weight: 400;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: none;
  cursor: pointer;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

// .btn:active {
//   -webkit-transform: translateY(-1px);
//   transform: translateY(-1px);
//   -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
//   box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
// }

// .btn:focus {
//   outline: none;
//   background-color: #2e864b;
// }

.btn--login {
  background-color: #777;
  color: white;
}
.btn--login::after {
  background-color: #fff;
}
.btn--logout {
  background-color: $dark-blue;
  color: white;
}
.btn--logout::after {
  background-color: #fff;
}

.btn--filtered {
  font-size: 0.7rem;
  padding: 0.5rem 1rem;
  background-color: rgb(213, 40, 40);
  color: white;
}
.btn--notFiltered {
  font-size: 0.7rem;
  padding: 0.5rem 1rem;
  background-color: $dark-blue;
}
