.form {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.3rem;
  *::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #777;
    opacity: 0.7; /* Firefox */
  }
}

.form__input {
  display: block;
  font-family: inherit;
  overflow: hidden;
  font-size: 1.5rem;
  color: black;
  border: none;
  background-color: #f2f2f2;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: $m-size;
  height: fit-content;
  min-width: fit-content;
  max-width: 45rem;
  padding: 0.7rem;
}

.form__date {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  max-width: fit-content;

  > .react-datepicker__tab-loop {
    display: grid;
    grid-template-columns: auto;
  }
  input {
    @extend .form__input;
    min-width: 5rem;
    width: 11rem;
    display: block;
    position: static;
  }
}

.form__selections {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: none;
  border-radius: 3px;
  padding: $s-size;
  margin-bottom: $s-size;
  max-width: 45rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: white;
  border: none;
  background-color: $dark-blue;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  .form__selections__input {
    max-width: $l-size;
    border-radius: 3px;
  }
}

.form__click {
  display: grid;
  grid-template-columns: 1.7fr 0.7fr 1fr;
  align-items: center;
  height: auto;
  > * {
    padding: 0.3rem;
    margin-bottom: 0.3rem;
    font-size: 1.1rem;
    margin-right: $s-size;
    justify-content: center;
  }
}
