.form {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.3rem;
  input,
  textArea {
    display: block;
    font-family: inherit;
    overflow: hidden;
    font-size: 1.5rem;
    color: black;
    border: none;
    background-color: #f2f2f2;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: $m-size;
    height: fit-content;
  }

  *::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #777;
    opacity: 0.7; /* Firefox */
  }
}

.form__date {
  display: flex;
  flex-direction: row;
  // .react-datepicker__input-container {
  //   border: 1px solid black;
  // }
}

.form__click {
  display: flex;
  flex-direction: row;
  > * {
    margin-right: $s-size;
  }
}
