// .form {
//   display: flex;
//   flex-direction: column;
//   > * {
//     margin-bottom: $m-size;
//     display: block;
//     font-family: inherit;
//     overflow: hidden;
//     font-size: 1rem;
//     color: #777;
//     padding: 1rem 1.25rem;
//     border: none;
//   }
// }

.form {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.3rem;
  > * {
    display: block;
    font-family: inherit;
    overflow: hidden;
    font-size: 1rem;
    color: #777;
    border: none;
    background-color: #f2f2f2;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: $m-size;
    height: $l-size;
  }

  .form__date {
    display: flex;
    flex-direction: row;
    .react-datepicker__input-container {
      border: 1px solid black;
    }
    input {
      max-width: 10rem;
      border: none;
      background-color: #f2f2f2;
    }
  }
}
