.header {
  padding: $s-size 0;
  margin: $m-size;
  @media (max-width: $desktop-breakpoint) {
    margin: $s-size;
  }
}

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #777;
  border-radius: 5px;
  color: white;
  padding: none;

  button {
    border: none;
    font-size: $s-size;
    border-radius: 3px;
  }

  span {
    color: #dde6e0;
    font-weight: 500;
    //font-family: Arial, Helvetica, sans-serif;
    font-family: Brush Script MT, cursive;
    font-style: italic;
  }
}
