.manage-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-left: 0;
  @media (max-width: $desktop-breakpoint) {
    margin: $s-size;
  }
}
.manage {
  margin: 0;
  border-radius: 30px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-column-gap: 1rem;
  opacity: 0.9;
}

.manage-activities {
  padding: $s-size 0;
  display: table;
}

.manage-view {
  padding: $s-size;
  margin-left: 15%;
}

.manage-header {
  margin: 0;
  span {
    font-style: italic;
  }
}

.manage-items {
  #on-my-list {
    background-color: aqua;
    display: table-cell;
    width: fit-content;
    list-style-type: disc;
    text-align: start;
    li {
      margin-left: $m-size;
      vertical-align: middle;
    }
  }
}
