.myRouter {
  flex-direction: column;
  margin: $m-size;
  border-radius: 30px;
  padding: 0 1.2rem;
  display: flex;
  opacity: 0.9;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: $m-size;
    text-decoration: double;
    list-style-type: disc;
    padding: 0;
    li {
      a {
        color: #777;
        text-decoration: none;
        text-align: end;
      }

      a.active {
        width: fit-content;
        padding: 3px;
      }
    }
  }

  @media (min-width: $desktop-breakpoint) {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-column-gap: 1rem;
    margin-top: 0;
    ul {
      display: table-cell;
      max-width: 15%;
      li {
        margin: 0;
        vertical-align: middle;
      }
    }
  }
}
