.mySelection-container {
  display: grid;
  > * {
    margin-bottom: $s-size;
    font-family: 'Lato', sans-serif;
  }

  @media (max-width: $desktop-breakpoint) {
    margin: 0;
    width: 100%;
    max-width: 100%;

    h2 {
      margin: 2.5rem 0 0 $s-size;
    }
  }
}

.mySelections {
  margin: 0;
  background-color: white;
  color: #777;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;

  .mySelections__buttons {
    display: flex;
    justify-content: space-between;
  }

  @media (max-width: $desktop-breakpoint) {
    grid-template-columns: repeat(2, 1fr);
    padding: 0.7rem;
  }
}

.mySelections--withDashboard {
  margin: 0;
  padding: 0;
  border-radius: 5px;
  line-height: 1.2em;
  background-color: #777;
  color: honeydew;
  display: table-cell;
  overflow: hidden;
  h2 {
    font-weight: 500;
    font-family: Brush Script MT, cursive;
    font-style: italic;
    text-align: center;
    color: white;
    background: $green;
    padding: $s-size;
    margin: 0;
  }
}

.selection-card {
  border-radius: 3px;
  overflow: hidden;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  line-height: 1em;
  padding: $s-size;
  @media (max-width: $desktop-breakpoint) {
    padding: 0.7rem;
  }
}
