.activity-container {
  min-width: 13rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  @media (max-width: 65rem) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 45rem) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.activity {
  border: 1px solid #7dd56f;
  border-radius: 5px;
  padding: $s-size;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(122, 106, 106, 0.1);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.activity__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.activity__details {
  display: flex;
  padding: 0.2rem 0.1rem;
  flex-direction: column;
  justify-content: flex-start;
}
