.searchBar {
  display: flex;
  flex-direction: column;
  margin-bottom: $s-size;

  label {
    background-color: #55c57a;
    color: white;
    padding: 0.2rem;
    border-radius: 3px;
    text-align: center;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
}

.search {
  background-color: white;
  display: flex;
  flex-direction: row;
  margin-bottom: 0.3rem;
  input,
  select {
    display: block;
    font-family: inherit;
    overflow: hidden;
    font-size: 1rem;
    color: #777;
    padding: 1rem 1.25rem;
    border: none;
    min-width: fit-content;
    background-color: #f2f2f2;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    @media (max-width: $desktop-breakpoint) {
      padding: 0.3rem 0.25rem;
      min-width: 0;
      width: 7.5rem;
      height: 2.5rem;
    }
  }

  select {
    background-color: #55c57a;
    color: #f2f2f2;
    width: 5.5rem;
  }

  @media (min-width: $desktop-breakpoint) {
    margin-bottom: $s-size;
  }
}

.filter {
  display: flex;
  flex-direction: row;
  align-items: center;

  button,
  label {
    width: 6rem;
    height: 2.5rem;
    justify-content: center;
  }

  label {
    background-color: #777;
  }
  @media (min-width: $desktop-breakpoint) {
    button {
      min-width: fit-content;
    }
  }
}
