.searchBar {
  display: flex;
  flex-direction: column;
  opacity: 0.9;
}

.search {
  background-color: white;
  margin-bottom: $s-size;
  display: flex;
  flex-direction: row;

  input,
  select {
    display: block;
    font-family: inherit;
    overflow: hidden;
    font-size: 1rem;
    color: #777;
    padding: 1rem 1.25rem;
    border: none;
    max-width: fit-content;
    background-color: #f2f2f2;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    @media (max-width: $desktop-breakpoint) {
      padding: 0.3rem 0.25rem;
      max-width: 7rem;
    }
  }

  select {
    background-color: #55c57a;
    color: #f2f2f2;
  }
}

.filter {
  display: flex;
  flex-direction: row;
  align-items: center;

  label {
    background-color: #55c57a;
    color: white;
    padding: 0.2rem;
    border-radius: 3px;
    width: 7rem;
    text-align: center;
    margin: 0.3rem 0;
  }

  button {
    border-radius: 3px;
  }

  @media (max-width: $desktop-breakpoint) {
    label {
      width: 3rem;
    }
    button {
      padding: auto;
    }
  }
}
