.searchBar {
  display: flex;
  flex-direction: column;
}

.search {
  background-color: white;
  margin-bottom: $s-size;
  display: flex;
  flex-direction: row;

  input,
  select {
    display: block;
    font-family: inherit;
    overflow: hidden;
    font-size: 1rem;
    color: #777;
    padding: 1rem 1.25rem;
    border: none;
    max-width: fit-content;
    background-color: #f2f2f2;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    @media (max-width: $desktop-breakpoint) {
      padding: 0.3rem 0.25rem;
      max-width: 7rem;
    }
  }

  select {
    background-color: #55c57a;
    color: #f2f2f2;
  }
}

.filter {
  display: flex;
  flex-direction: row;
  align-items: center;

  label {
    background-color: #55c57a;
    color: white;
    padding: 0.2rem;
    border-radius: 3px;
    width: 7rem;
    text-align: center;
    margin: 0.3rem 0;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }

  .filter-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    button {
      min-width: fit-content;
    }
  }

  @media (max-width: $desktop-breakpoint) {
    label {
      width: 4.5rem;
      position: fixed;
      top: 13%;
      margin: 0;
      left: 0%;
      z-index: 9999;
      opacity: 0.7;
    }
    .filter-button {
      display: none;
    }
  }
}

.filter:hover {
  @media (max-width: $desktop-breakpoint) {
    label {
      width: 5rem;
      opacity: 0.9;
    }
    .filter-button {
      width: 25rem;
      position: fixed;
      top: 13%;
      left: 11%;
      z-index: 9999;
      display: flex;
      opacity: 0.9;
    }
  }
}
