//color
$dark-grey: #333333;
$grey: #777;
$off-white: #f7f7f7;
$blue: #1c88bf;
$green: #55c57a;
$dark-blue: #364051;
$orange: rgb(255, 115, 0);
//font-size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
//size
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
